@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="adv-footer">
    <div class="pc-footer bg-c-main text-white position-relative">
        
        <div class="adv-content-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="ft-left">
                            <div class="ft-left__top">
                                <h3 class="title">
                                    CÔNG TY CỔ PHẦN GIẢI PHÁP VÀ PHÁT TRIỂN VIỆT NAM XANH
                                </h3>
                                <p class="tiny-font">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat dolor quis mauris malesuada, ut elementum tellus dignissim. Nullam hendrerit suscipit viverra. Mauris dictum nibh lectus, vitae faucibus metus elementum a. Suspendisse eleifend aliquam tincidunt. Integer tincidunt consequat lorem.
                                </p>
                            </div>
                            <div class="ft-line-divide"></div>
                            <div class="ft-left__middle grid grid__4">
                                <div class="user-manual">
                                    <ul class="list-unstyled ft-list">
                                        <li class="mb-2 font-weight-bold small-font">Hướng dẫn</li>
                                        <li class="tiny-font">
                                            <a href="#">
                                                Hướng dẫn 1
                                            </a>
                                        </li>
                                        <li class="tiny-font">
                                            <a href="#">
                                                Hướng dẫn 2
                                            </a>
                                        </li>
                                        <li class="tiny-font">
                                            <a href="#">
                                                Hướng dẫn 3
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="policy">
                                    <ul class="list-unstyled ft-list">
                                        <li class="mb-2 font-weight-bold small-font">Chính sách &amp; Quy định</li>
                                        <li class="tiny-font">
                                            <a href="#">
                                                Chính sách 1
                                            </a>
                                        </li>
                                        <li class="tiny-font">
                                            <a href="#">
                                                Chính sách 2
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="about-adv">
                                    <ul class="list-unstyled ft-list">
                                        <li class="mb-2 font-weight-bold small-font">Về chúng tôi</li>
                                        <li class="tiny-font">
                                            <a href="#">
                                                Giới thiệu
                                            </a>
                                        </li>
                                        <li class="tiny-font">
                                            <a href="#">
                                                Liên hệ
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="recruitment">
                                    <ul class="list-unstyled ft-list">
                                        <li class="mb-2 font-weight-bold small-font">Tuyển dụng</li>
                                       @* <li class="tiny-font">
                                            <a href="#">
                                                Khu vực 1
                                            </a>
                                        </li>*@
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="ft-line-divide"></div>
                            <div class="ft-left__bottom">
                                <div class="company-name">
                                    <div class="ft-logo">
                                        <a href="#" class="">
                                            <img src="images/logo.png" class="" alt="">
                                        </a>
                                    </div>
                                    <div class="ft-company-name">
                                        <p class="m-0 normal-font font-weight-bold">
                                            CÔNG TY CỔ PHẦN GIẢI PHÁP VÀ PHÁT TRIỂN VIỆT NAM XANH
                                        </p>
                                    </div>
                                </div>
                                <p class="m-0 mb-2 tiny-font">
                                    <strong>
                                        Trụ sở chính:
                                    </strong> Số Nhà 28 Ngõ 1 Phạm Văn Đồng, Tổ 2, Phường Mai Dịch, Quận Cầu Giấy, Hà Nội

                                </p>
                                <p class="m-0 tiny-font"><b>Tổng đài chăm sóc khách hàng:</b>  (+84) 916.665.678</p>
                                <p class="m-0 tiny-font">
                                    <strong style="text-transform: uppercase">
                                        Văn phòng:
                                    </strong>
                                </p>
                                <p class="m-0 ml-3 tiny-font">
                                    <strong>
                                        <a href="https://goo.gl/maps/dDWf9GJVh7wfVXKF8" target="_blank" style="color: #fff;text-decoration: none">
                                            <svg class="icon-svg min" style="color: #F28329;">
                                                <use xlink:href="images/icons/icon.svg#address"></use>
                                            </svg>
                                            Hà Nội:
                                        </a>
                                    </strong> Số Nhà 28 Ngõ 1 Phạm Văn Đồng, Tổ 2, Phường Mai Dịch, Quận Cầu Giấy, Hà Nội
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ft-right">
                            <div class="balance-box"></div>
                            <div class="ft-follow-us">
                                <div class="title text-uppercase mb10"> Theo dõi chúng tôi</div>
                                <div class="mb-2 social-list">
                                    <div class="social-fb social-item" style="">
                                        <a href="https://www.facebook.com/" target="_blank">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                    </div>
                                    <div class="social-yt social-item" style="">
                                        <a href="https://www.youtube.com">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </div>
                                   
                                    <div class="social-linkedin social-item">
                                        <a href="https://www.linkedin.com/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                   
                                </div>
                                <p style="margin-bottom: 22px !important;" class="">
                                    Số chứng nhận đăng ký kinh doanh: <br> XXXXXXXXXX cấp bởi sở kế hoạch và đầu tư <br> thành phố Hà Nội ngày DD/MM/YYYY
                                </p>
                            </div>
                            @*<div class="faith mt-3">
                                <p class="">
                                    Chúng tôi chấp nhận thanh toán bằng các <br> loại thẻ Visa Debit, Credit, ATM...
                                </p>
                                <p class="ft-payment-method">
                                    <i class="fa fa-credit-card"></i>
                                    <i class="fa fa-cc-discover"></i>
                                    <i class="fa fa-cc-mastercard"></i>
                                    <i class="fa fa-cc-visa"></i>
                                    <i class="fa fa-cc-paypal"></i>
                                </p>
                                <p class="mb-0">
                                    Xuất hóa đơn VAT theo yêu cầu khách hàng
                                </p>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>