@{
    Layout = null;
}

<div id="mobile-menu" class="scroll " style="display:none;">
    <div class="media d-flex user-menu">
        <i class="fas fa-user-circle mr-3 align-self-center"></i>
        <div class="media-body d-md-flex flex-column ">
            <a rel="nofollow" href="/account/login" class="d-block" title="Tài khoản">
                Tài khoản
            </a>
            <small>
                <a href="/account/login" title="Đăng nhập" class="font-weight: light">
                    Đăng nhập
                </a>
            </small>

        </div>
    </div>
    <div class="mobile-menu-body scroll">
        <nav class="h-100">
            <ul class="navigation list-group list-group-flush scroll">
                <li class="menu-item list-group-item">
                    <a href="/working-gaming-gear" class="menu-item__link" title="Chuột-Bàn phím-Tai nghe">
                        <img width="24" height="24" src="//bizweb.dktcdn.net/100/329/122/themes/940689/assets/menu_icon_1.png?1715331136100" alt="Chuột-Bàn phím-Tai nghe">
                        <span>Chuột-Bàn phím-Tai nghe</span>
                        <i class="float-right" data-toggle-submenu="">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </i>
                    </a>

                    <div class="submenu scroll">
                        <div class="toggle-submenu d-lg-none d-xl-none">
                            <i class="mr-3">
                                <svg class="icon" style="transform: rotate(180deg)">
                                    <use xlink:href="#icon-arrow"></use>
                                </svg>
                            </i>
                            <span>Chuột-Bàn phím-Tai nghe </span>
                        </div>
                        <ul class="submenu__list">
                            <li class="submenu__col">
                                <span class="submenu__item submenu__item--main">
                                    <a class="link" href="/chuot-gaming-van-phong" title="Chuột">Chuột</a>
                                </span>

                                <span class="submenu__item submenu__item">
                                    <a class="link" href="/chuot-logitech" title="Logitech">Logitech</a>
                                </span>

                                <span class="submenu__item submenu__item">
                                    <a class="link" href="/chuot-razer" title="Razer">Razer</a>
                                </span>

                                <span class="submenu__item submenu__item">
                                    <a class="link" href="/chuot-asus" title="Asus">Asus</a>
                                </span>

                                <span class="submenu__item submenu__item">
                                    <a class="link" href="/chuot-corsair" title="Corsair">Corsair</a>
                                </span>

                                <span class="submenu__item submenu__item">
                                    <a class="link" href="/chuot-hyperx" title="HyperX">HyperX</a>
                                </span>

                                <span class="submenu__item submenu__item">
                                    <a class="link" href="/chuot-dell" title="Dell">Dell</a>
                                </span>

                            </li>

                            <li class="submenu__item submenu__item--main">
                                <a class="link" href="/phu-kien-tai-nghe" title="Phụ kiện Tai nghe">Phụ kiện Tai nghe</a>
                            </li>




                            <li class="submenu__item submenu__item--main">
                                <a class="link" href="/hop-qua-tang" title="Hộp quà tặng">Hộp quà tặng</a>
                            </li>


                        </ul>
                    </div>
                </li>

            </ul>
        </nav>

        <ul class="shop-policises list-unstyled d-flex align-items-center flex-wrap m-0 pr-0">
            <li class="">
                <a class="link" href="https://memoryzone.com.vn/huong-dan-thanh-toan" title="THANH TOÁN">
                    THANH TOÁN
                </a>
            </li>
            <li class="">
                <a class="link" href="https://memoryzone.com.vn/huong-dan-tra-gop" title="TRẢ GÓP">
                    TRẢ GÓP
                </a>
            </li>
            
        </ul>
    </div>

    <div class="mobile-menu-footer border-top w-100 d-flex align-items-center text-center">
        <div class="hotline  w-50   p-2 ">
            <a href="tel:02873013878" title="028 7301 3878">
                Gọi điện <i class="fas fa-phone ml-3"></i>
            </a>
        </div>
        <div class="messenger border-left p-2 w-50 border-left">

            <a href="https://www.messenger.com/t/memoryzonevietnam/" title="https://www.messenger.com/t/memoryzonevietnam/">
                Nhắn tin
                <i class="fab fa-facebook-messenger ml-3"></i>
            </a>
        </div>

    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
@section Head {

}