@{
    Layout = null;
}

<section class="top-header" style=" height: 30px; ">
    <div class="container">
        @*<a href="#">
           <svg class="icon-svg">
                <use xlink:href="images/icons/icon.svg#phone"></use>
            </svg>
            <span>0123456789</span>
        </a>
        <a href="#">
            <svg class="icon-svg">
                <use xlink:href="images/icons/icon.svg#gift"></use>
            </svg>
            <span>Giới thiệu nhận quà</span>
        </a>*@
        <div class="topnav-flex">
            <div class="topnav__right" style="right: 20px;">
                <a href="#">
                    <svg class="icon-svg">
                        <use xlink:href="/images/icons/icon.svg#phone"></use>
                    </svg>
                    <span>Hợp tác với chúng tôi</span>
                </a>
            </div>
        </div>
       
    </div>
</section>

<section id="navbar" class="topnav pin">
    <div class="container" >
        <div class="topnav-flex">
            <h1 class="logo" title="new-ca"style=" width: 75px; ">
                <a href="#"><img src="/images/logo.png" alt=""></a>
            </h1>
            <div class="topnav__right">
                <ul class="tab-menu flex">
                    <li>
                        <a href="#">
                            
                            <span>Giới thiệu</span>
                        </a>
                    </li>
                  
                    <li class="submenu">
                        <a href="#">
                            <span>Dự án</span>
                        </a>
                        <ul class="sub" style=" width: 200px; ">
                            <li>
                                <a href="#">Dự án tín chỉ Carbon</a>
                            </li>
                            <li>
                                <a href="#">Dự án cung cấp nguyên liệu gỗ</a>
                            </li>
                            <li>
                                <a href="#">Dự án dược liệu</a>
                            </li>
                            <li>
                                <a href="#">Khu vực trồng rừng</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">

                            <span>Tin tức</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">

                            <span>Liên hệ</span>
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</section>


@section Head {

}