@{
    Layout=null;
}
<!-- Slider main container -->
<div class="swiper main-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" data-slide-type="vdo">
            <video src="/videos/home_1920.mp4" playsinline autoplay muted loop>
                <source src="/videos/home_1920.mp4" type="video/mp4">
            </video>
        </div>
        <div class="swiper-slide" data-slide-type="img">Slide 2</div>
        <div class="swiper-slide" data-slide-type="img">Slide 3</div>
        
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  
</div>